<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Bely Store</h5>
                <p>Siêu thị mini của bạn - Nơi mua sắm tiện lợi và đáng tin cậy</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-phone me-2"></i>052 353 2305</li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i>sunk6634@gmail.com</li>
                    <li><i class="fas fa-map-marker-alt me-2"></i>3/36, Đường Quản Cơ Thành, Phường Bình Khánh, Long
                        Xuyên</li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Theo dõi chúng tôi</h5>
                <div class="social-links">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-twitter fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Bely. All rights reserved.</p>
        </div>
    </div>
</footer>